.donation-first{
    background-image: url(images/donation12.png);
height:100vh;
background-repeat: no-repeat;
background-size:cover;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.donation-first h1{
    color: white;
    font-size: 65px;
}
.donation-first p{
    color: white;
    font-size: 20px;
}.donation-first a{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 12px;
gap: 8px;
text-decoration: none;
background-color: orangered;
color: white;
padding: 16px 12px;
border-radius: 8px;
margin-top: 40px;
}
.Donate-today{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.Donate-today h1{
    font-size: 50px;
    margin-bottom: 10px;
    }
.amount{
        display: flex;
        justify-content: space-evenly;
        align-items:center;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 20px;
    
    }
.box{
    background: #FAFAFA;
    text-align: center;
    padding: 40px 40px; 
    border-radius: 8px;
}
.color-mark{
    background: #FFEEEE;
border: 2px solid #FF5959;
border-radius: 5px;
color: #FF5959;
}
.anount-design {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-amount{
    border: none;border-bottom: 2px solid rgb(78, 75, 75);
    text-align: center;
    margin-bottom: 10px;
    width: 50%;
    padding: 10px;
}
.anount-design a{
    display: inline;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 12px;
    background-color: orangered;
    width: 85px;
    color: white;
    border-radius: 8px;
}
.Donation-plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.Donation-plan h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.Donation-plan p{
    text-align:center;

}
.Food-family{
    position: absolute;
    width: 360px;
    height: 352px;
    left: 157px;
    top: 1595.5px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    
}
.Shelter-family{
    position: absolute;
width: 360px;
height: 352px;
left: 541px;
top: 1595.5px;
    background: rgba(255, 89, 89, 0.1);
border-radius: 5px;
}
.Education{
    position: absolute;
width: 360px;
height: 352px;
left: 925px;
top: 1595.5px;
    background: #FFF4D6;
border-radius: 5px;
}
#Donate_plan{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
}
.Donate{
    overflow: hidden;
    height: 350px;
    width: 360px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.Donate img{
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.Donate h4{
    color: black;
    font-weight: 600px;
    margin: 0;
    padding-top: 25px;
    padding-left: 25px;
}
.Donate p{
    color: black;
    font-weight: 600px;
    margin: 0;
    padding-top: 25px;
    padding-left: 25px;
}
.food{
    background-color: rgba(79, 157, 166, 0.1);
}
.shelter{
    background-color:rgba(255, 89, 89, 0.1);
}
.education{
    background-color: rgba(255, 244, 214, 1);
}


