.donation-first{
    background-image: url(images/donation12.png);
height:100vh;
background-repeat: no-repeat;
background-size:cover;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.donation-first h1{
    color: white;
    font-size: 65px;
}
.donation-first p{
    color: white;
    font-size: 20px;
}.donation-first a{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 12px;
gap: 8px;
text-decoration: none;
background-color: orangered;
color: white;
padding: 16px 12px;
border-radius: 8px;
margin-top: 40px;
}
.Donate-today{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.Donate-today h1{
    font-size: 50px;
    }


