.donation-first{
    background-image: url(images/donation12.png);
height:100vh;
background-repeat: no-repeat;
background-size:cover;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.donation-first h1{
    color: white;
    font-size: 65px;
}
.donation-first p{
    color: white;
    font-size: 20px;
}.donation-first a{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 12px;
gap: 8px;
text-decoration: none;
background-color: orangered;
color: white;
padding: 16px 12px;
border-radius: 8px;
margin-top: 40px;
}
.Donate-today{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.Donate-today h1{
    font-size: 50px;
    margin-bottom: 10px;
    }
.amount{
        display: flex;
        justify-content: space-evenly;
        align-items:center;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 20px;
    
    }
.box{
    background: #FAFAFA;
    text-align: center;
    padding: 40px 40px; 
    border-radius: 8px;
}
.color-mark{
    background: #FFEEEE;
border: 2px solid #FF5959;
border-radius: 5px;
color: #FF5959;
}
.anount-design {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-amount{
    border: none;border-bottom: 2px solid rgb(78, 75, 75);
    text-align: center;
    margin-bottom: 10px;
    width: 50%;
    padding: 10px;
}
.anount-design a{
    display: inline;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 12px;
    background-color: orangered;
    width: 85px;
    color: white;
}


